.hero {
  background-image: url('../Assets/front.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-buttons button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
