.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.logo h2 {
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.mobile-menu-icon {
  display: none;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    /* background-color: #fff; */
    background-color: rgb(0 0 0 / .5);
    color: #fff;
    padding: 20px;
    list-style: none;
    
  }

  .nav-links-mobile li {
    margin: 15px 0;
    /* Add space between the nav items */
  }

  .nav-links-mobile a {
    text-decoration: none;
    color: #333;
    /* Modern dark color */
    font-size: 20px;
    /* Increased font size */
    font-weight: bold;
    padding: 10px 20px;
    /* Add padding to make them feel clickable */
    background-color: #f4f4f4;
    /* Light background color to distinguish items */
    border-radius: 5px;
    /* Rounded corners for modern look */
    letter-spacing: 1px;
    /* Better letter spacing */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Smooth transition effect */
  }

  .nav-links-mobile a:hover {
    background-color: #ff6600;
    /* Orange background on hover */
    color: #fff;
    /* White text on hover */
  }

  .mobile-menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}